[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = https://github.com/danielfrg/pelican-ipynb.git
[submodule "themes/nest"]
	path = themes/nest
	url = https://github.com/molivier/nest.git
[submodule "themes/pelican-clean-blog"]
	path = themes/pelican-clean-blog
	url = https://github.com/gilsondev/pelican-clean-blog.git
